<div class="white home">
  <nav class="cyan darken-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Bienvenido {{session.get().name}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li [routerLinkActive]="'active'"><a [routerLink]="['/home/all-users']">Usuarios</a></li>
        <li [routerLinkActive]="'active'"><a [routerLink]="['/profile']">Perfil</a></li>
        <li [routerLinkActive]="'active'"><a [routerLink]="['/login']">Salir</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <!--<app-user-data *ngIf="session.get().role=='ADMINISTRATOR'"></app-user-data>-->
    <router-outlet></router-outlet>
  </div>

</div>

